{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Witaj!</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f9f9f9; font-family:Lato,Arial,sans-serif; color: #333;">
    <h2> Hej {{name}}!</h2>
    <p>Cieszymy się, że jesteś z nami!</p>
    <p>
        Jeśli masz pytania lub potrzebujesz wsparcia, nasz zespół jest tutaj dla Ciebie. Skontaktuj się z nami w dowolnym momencie: {{contact_email}}
    </p>
</body>
</html>